VITE_UPLOAD_CV_API_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default/upload_cv
VITE_ANALYZE_CV_API_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default/analyze_cv
VITE_PROFILE_API_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default/profile
